{% extends 'layout/layout.html' %}

{% block content %}
{% load static %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<section class="lineup  lineup2">
    <h3>Tabla General</h3>
    <div class="botonsql botonsql2">
        <a href="{% url 'modificar_pdf' %}" class="enviar editar editar2">Generar PDF</a>
    </div>
    <div class="respuestasql">
        {% for casa in info_casa %}
        <div class="forsql">
            <div>
                <h1>Resultado</h1>
            </div>
            <div class="bloque">
                <div class="descripcion">
                    <div>
                        <h2> <span>Proyecto Al Que Pertenece:</span> {{casa.13}}</h2>
                    </div>
                    <div>
                        <h2> <span>Modelo:</span> {{casa.1}}</h2>
                    </div>

                    <div>
                        <h2> <span>Poligono:</span> {{casa.2}}</h2>
                    </div>
                    <div>
                        <h2> <span>Numero De Casa:</span> {{casa.3}}</h2>
                    </div>
                    
                    <div>
                        <h2> <span>Contratista:</span> {{casa.9}}</h2>
                    </div>
                    <div>
                        <h2> <span>Codigo De Obra:</span> {{casa.4}}</h2>
                    </div>
                    <div>
                        <h2> <span>Agrupacion:</span> {{casa.5}} <hr>Precio: $ {{casa.12}} <br> SubTotal: $ {{casa.12}} <br> Unidad De Medida: SG </h2>
                    </div>
                    <div>
                        <h2> <br> <span>Porcentaje:</span> {{casa.6}}</h2>
                    </div>
                    <div>
                        <h2> <br> <span>Comentarios:</span> <hr> {{casa.17}}</h2>
                    </div>
                    <div>
                        <h2> <br> <span>Fecha De Creacion:</span> {{casa.7}} <hr>Creado Por: {{casa.15}}</h2>
                    </div>
                    <div>
                        <h2> <span>Fecha De Modificacion El:</span> {{casa.8}} <hr>Modificado Por: {{casa.16}}</h2>
                    </div>
                    
                </div>
                <img class="logo logo-respuesta" src="{% static 'img/modelo2.jpg'%}" alt="">
            </div>
            <section class="step-wizard">
                <ul class="step-wizard-list">
                    <li class="step-wizard-item current-item">
                        <span class="progress-count ">1</span>
                        <span class="progress-label">Inicio</span>
                    </li>
                    <li class="step-wizard-item ">
                        <span class="progress-count">2</span>
                        <span class="progress-label">Proceso</span>
                    </li>
                    <li class="step-wizard-item ">
                        <span class="progress-count">3</span>
                        <span class="progress-label">Revisión</span>
                    </li>
                    <li class="step-wizard-item ">
                        <span class="progress-count">4</span>
                        <span class="progress-label">Aprobada</span>
                    </li>
                </ul>
                
            </section>
            <div class="titleview">
                <h3>Para Ver El Tracking Ingresa A Consultas Especificas</h3>
            </div>
            

        </div>
        {% endfor %}
    </div>
</section>



    




{% endblock content %}